<% include partials/header %>
<a href="/campgrounds">View All Campgrounds</a>
<a href="/campgrounds/new">Add a campground</a>
<h1>Landing page</h1>

<p>Welcome to YelpCamp</p>

<% include partials/footer %>
